<div class="about">
    <div class="card-round">
        <div class="card card1">
            <div class="card-body">
                <p>My name ist Ayman Abu Harbid. Ich habe an der Universität Paderborn Informatik studiert. It und Computer sind mit der Zeit zu meinem Hobby geworden. Ich habe in der Zeit nach dem Studium verschiedene Jobs gehabt im In- und Ausland. Ich
                    bin von Natur offen und nehme neue Aufgaben gerne an. Zu meinen Stärken gehört das Erwitern meines Wissens und Könnens vor allem weil die IT-Welt sich ständig ändert und</p>
            </div>
        </div>
    </div>
    <div class="card-round">
        <div class="card card2">
            <div class="card-body">
                <p>My name ist Ayman Abu Harbid. Ich habe an der Universität Paderborn Informatik studiert. It und Computer sind mit der Zeit zu meinem Hobby geworden. Ich habe in der Zeit nach dem Studium verschiedene Jobs gehabt im In- und Ausland. Ich
                    bin von Natur offen und nehme neue Aufgaben gerne an. Zu meinen Stärken gehört das Erwitern meines Wissens und Könnens vor allem weil die IT-Welt sich ständig ändert und</p>
            </div>
        </div>
    </div>
    <div class="card-round">
        <div class="card card3">
            <div class="card-body">
                <p>My name ist Ayman Abu Harbid. Ich habe an der Universität Paderborn Informatik studiert. It und Computer sind mit der Zeit zu meinem Hobby geworden. Ich habe in der Zeit nach dem Studium verschiedene Jobs gehabt im In- und Ausland. Ich
                    bin von Natur offen und nehme neue Aufgaben gerne an. Zu meinen Stärken gehört das Erwitern meines Wissens und Könnens vor allem weil die IT-Welt sich ständig ändert und</p>
            </div>
        </div>
    </div>
    <div class="card-round">
        <div class="card card3">
            <div class="card-body">
                <p>My name ist Ayman Abu Harbid. Ich habe an der Universität Paderborn Informatik studiert. It und Computer sind mit der Zeit zu meinem Hobby geworden. Ich habe in der Zeit nach dem Studium verschiedene Jobs gehabt im In- und Ausland. Ich
                    bin von Natur offen und nehme neue Aufgaben gerne an. Zu meinen Stärken gehört das Erwitern meines Wissens und Könnens vor allem weil die IT-Welt sich ständig ändert und</p>
            </div>
        </div>
    </div>

</div>