<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row row-div">
                <div class="col-md-3 item links">
                    <a routerLink="/data-protection">Data Protection</a> |
                    <a routerLink="/imprint">Imprint</a> |
                    <a routerLink="/cv">C. Vate</a>
                </div>
                <div class="col-md-3 item social">
                    <img src="assets/img/facebook.png">
                    <img src="assets/img/twitter.png">
                    <img src="assets/img/snap.png">
                    <img src="assets/img/insta.png">
                </div>
            </div>
            <p class="copyright">Ayman Abu Harbid © 2022</p>
        </div>
    </footer>
</div>