<div class="container">
    <div class="container-round">
        <div class="left-div">
            <div class="title">
                <p class="animated-text">Hi!<br> I am <span>Ayman</span> Abu Harbid<br> Web Developer</p>
            </div>
            <div class="contact-div">
                <a onclick="getPoint()" href="#contact" target="contact">Contact me</a>

            </div>
        </div>
        <div class="right-div">
            <img src="assets/img/ayman.jpg">
            <div class="down">
                <a href="#skills"><img src="assets/img/down.png"></a>
            </div>
        </div>
    </div>
    <div class="skills" id="skills">
        <app-skills></app-skills>
    </div>
    <div class="skills" id="projects">
        <app-projects></app-projects>
    </div>
    <div class="skills" id="aboutme">
        <app-aboutme></app-aboutme>
    </div>
    <div class="skills" id="contact">
        <app-contact></app-contact>
    </div>
</div>