<div class="cv-round">
    <h1>Curriculum Vate</h1>
    <div class="about">
        <div class="card-round">
            <div class="card card1">
                <div class="card-body">
                    <h1>University of Paderborn</h1>
                    <p>I graduated Computer Computer Science from the University Paderborn in the Year 2000. It was an exciting time during my studies Programming and mathematics have always been among my strengths.
                    </p>
                </div>
            </div>
        </div>
        <div class="card-round">
            <div class="card card2">
                <div class="card-body">
                    <h1>Telefonica Deutschland</h1>
                    <p>I started my Job by Telefonica Deutschland in Verl as System Engineer in 2000. My main Job was programming in PHP, Javascript and HTML. Between 2000 and 2005 i was employee by Telefonica Deutschland.</p>
                </div>
            </div>
        </div>
        <div class="card-round">
            <div class="card card3">
                <div class="card-body">
                    <h1>AlQuda Open University</h1>
                    <p>Between 2005 and 2016 i worked as a lecturer at the Al-Quds Open university. I taught basic of programming, Databases, Javascript and more academic subjects.

                    </p>
                </div>
            </div>
        </div>
        <div class="card-round">
            <div class="card card4">
                <div class="card-body">
                    <h1>SBH-Nord</h1>
                    <p>Between 2017 and 20018 i worked as Lecturer/Trainer by SBH-Nord in Hannover. I taught computer skills and basics of programming languages. It was a good time and very exciting </p>
                </div>
            </div>
        </div>

    </div>
</div>